.projects-page {
  padding-left: 100px;
  padding-right: 50px;
  width: calc(100% - 150px);
  position: initial;
  height: 100%;
  overflow: auto;

  h1.title {
    margin-left: 100px;
    margin-top: 120px;
		animation: fadeIn 1s forwards .5s;
  }

  .project-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding-bottom: 100px;
  }

  .project-card {
    position: relative;
    flex: 1 1 30%;
    min-height: 400px;
		max-width: 787px;
		min-width: 375px;
    overflow: hidden;
    border-radius: 10px;
		opacity: 0;
		animation: fadeIn 1s forwards 1s;
    // max-width: calc(25% - 10px); // Limits size of image box

    .projects-image {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .content {
      position: absolute;
      width: 100%;
      z-index: 3;
      padding: 10px 20px;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.2) 0,
        rgb(0, 0, 0, 1)
      );
      bottom: -70px;
    }

    .title {
      margin-bottom: 0;
      margin-top: 0;
      color: #EEEEEE;
      font-size: 24px;
      font-weight: 500;
      line-height: 24px;
			animation: none;
    }

    .description {
      font-size: 14px;
      margin-bottom: 5px;
      padding-right: 20px;
      color: #EEEEEE;
      font-weight: 700;
      word-wrap: break-word;
      white-space: pre-line;  
      vertical-align: bottom;
    }

    .tools {
      font-size: 14px;
      margin-bottom: 5px;
      color: #EEEEEE;
      font-weight: 700;
    }

    .btn {
      margin-top: 30px;
      margin-bottom: 10px;
			font-family: sans-serif;
      padding: 0 23px;
      height: 40px;
      line-height: 34px;
      border: 2px solid #00ADB5;
      border-radius: 4px;
      font-size: 14px;
      color: #EEEEEE;
      background: transparent;
      text-transform: uppercase;
      font-weight: 400;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      cursor: pointer;
    }

    .btn:hover {
      transform: translateY(-3px);
      background: #00ADB5;
			color: #333;
    }

    &:after {
      content: '';
      background: linear-gradient(180deg, #00ADB5, #000);
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      opacity: 0;
    }

    &:hover::after {
      opacity: 0.85;
    }

    &:hover .content {
      bottom: 0;
      background: transparent;
    }
  }
}
