p {
	animation: pulse 1s;
}

.p1 {
	animation-delay: 1.1s;
}

.p2 {
	animation-delay: 1.2s;
}

.p3 {
	animation-delay: 1.3s;
}

.p4 {
	animation-delay: 1.4s;
}

.ul-list {
	animation: pulse 1s;
  animation-delay: 1.5s
}